
# /psocdude/
/psocdude/*.diff
/psocdude/*.patch
/psocdude/y.output
/psocdude/y.tab.h
/psocdude/lexer.c
/psocdude/config_gram.c
/psocdude/config_gram.h
/psocdude/ylwrap
/psocdude/.cvsignore
/psocdude/.depend
/psocdude/.deps
/psocdude/INSTALL
/psocdude/Makefile.in
/psocdude/Makefile
/psocdude/ac_cfg.h.in
/psocdude/aclocal.m4
/psocdude/autom4te.cache
/psocdude/configure
/psocdude/depcomp
/psocdude/install-sh
/psocdude/compile
/psocdude/missing
/psocdude/mkinstalldirs
/psocdude/stamp-h.in
/psocdude/stamp-h1
/psocdude/ac_cfg.h
/psocdude/psocdude.conf
/psocdude/psocdude.conf.tmp
/psocdude/psocdude.spec
/psocdude/config.guess
/psocdude/config.log
/psocdude/config.status
/psocdude/config.sub
/psocdude/psocdude

# /psocdude/doc/
/psocdude/doc/.cvsignore
/psocdude/doc/Makefile
/psocdude/doc/Makefile.in
/psocdude/doc/psocdude-html
/psocdude/doc/psocdude.aux
/psocdude/doc/psocdude.cp
/psocdude/doc/psocdude.cps
/psocdude/doc/psocdude.dvi
/psocdude/doc/psocdude.fn
/psocdude/doc/psocdude.info
/psocdude/doc/psocdude.ky
/psocdude/doc/psocdude.log
/psocdude/doc/psocdude.pdf
/psocdude/doc/psocdude.pg
/psocdude/doc/psocdude.ps
/psocdude/doc/psocdude.toc
/psocdude/doc/psocdude.tp
/psocdude/doc/psocdude.vr
/psocdude/doc/mdate-sh
/psocdude/doc/stamp-vti
/psocdude/doc/texinfo.tex
/psocdude/doc/version.texi

# /psocdude/windows/
/psocdude/windows/.cvsignore
/psocdude/windows/.deps
/psocdude/windows/Makefile
/psocdude/windows/Makefile.in
